.star{
  .star-item{
    display: inline-block
    background-repeat: no-repeat
  }
  &.star-48{
    .star-item{
      width 20px
      height 20px
      margin-right 22px
      background-size 100% 100%
      &:last-child
        margin-right 0
      &.on
        background-image: url()
      &.half
        bg-image('star48_half')
      &.off
        bg-image('star48_off')
    }

  }
}

