.star
  .star-item
    display: inline-block
    background-repeat: no-repeat
  
  &.star-48
    .star-item
      width 20px
      height 20px
      margin-right 22px
      background-size 100% 100%
      &:last-child
        margin-right 0
      &.on
        background-image: url('img/star36_on@2x.png')
      &.half
        background-image: url('img/star36_half@2x.png')
      &.off
       background-image: url('img/star36_off@2x.png')

.off
  background-image: url('img/star36_on@2x.png')
  